# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.
build/
.vscode/launch.json
./..packages
./.analysis_options.yaml
./.CHANGELOG.MD
./.pubspec.lock
./.pubspec.yaml